:root
{
    --color-primary: #38b764;
    --color-hover: #257179;
    --color-overlay: rgba(56, 183, 100, 0.7);
    --color-menu-links: rgba(0, 0, 0, 0.3);
    --color-titles: #333;
}

* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-color: var(--color-primary) transparent;
}

body
{
    font-family: "Montserrat-regular";
    overflow-x: hidden;
}

/* HEADER STARTED */
.header 
{
    background-color: white;
    padding: 2rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header__container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.Header__logo 
{
    font-family: "Arco";
    font-size: 2rem;
    color: var(--color-primary);
    text-align: center;
}

.header__nav 
{
    display: none;
    width: 100%;
}

.header__menu
{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    gap: 0.75rem;
}

.header__menu-link
{
    display: inline-block;
    text-decoration: none;
    font-family: "Montserrat-bold";
    font-size: 0.95rem;
    color: var(--color-primary);
}

.header__toggle 
{
    display: block;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2000;
}

.header__toggle-icon 
{
    width: 32px;
    height: 32px;
}

.header__toggle-icon--close 
{
    display: none;
}
/* HEADER FINISH */


/* MAIN STARTED */
.intro
{
    padding: 2rem 1.5rem;
    text-align: center;
}

.intro__image
{
    display: none;
}

.intro__title
{
    font-family: "Montserrat-extrabold";
    font-size: 1.6rem;     /* Original 2rem */
    margin-bottom: 2rem;
    color: var(--color-titles)
}

.intro__subtitle
{
    font-family: "Montserrat-regular";
    color: #666;
    font-size: 1rem;
    line-height: 1.6;
    margin: 0 auto 2.5rem auto;
    max-width: 500px;
    padding: 0 1rem;
}

.intro__button
{
    text-decoration: none;
    display: inline-block;
    background-color: var(--color-primary);
    color: white;
    font-family: "Montserrat-bold";
    font-size: 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    box-shadow: 3px 3px 0px #00000020;
    margin: 0 auto 2rem auto;
    text-align: flex;
    width: 100%;
    max-width: 300px;
    display: block;
    transition: transform 0.2s ease;
}

.intro__button:active 
{
    transform: translate(2px, 2px);
}

.intro__social
{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.intro__icon
{
    width: 25px;
    height: 25px;
}
/* MAIN FINISH */

/* PROYECTS STARTED */

.proyectos__title 
{
    font-size: 1.8rem;
    font-family: "Montserrat-extrabold";
    text-align: center;
    margin: 3rem 0 2rem 0;     /* 2rem TENIA  */
    color: var(--color-titles);
}

.proyectos__grid
{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 0 1rem;
}

.proyectos__item 
{
    display: block;
    position: relative;
    border-radius: px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.proyectos__item img 
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.proyectos__overlay 
{
    position: absolute;
    inset: 0; /* Abarca todo el espacio del padre (.proyectos__item) */
    background-color: var(--color-overlay);
    display: flex;
    justify-content: center;
    align-items: center;
}

.proyectos__overlay span 
{
    color: white;
    font-family: "Montserrat-bold";
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}
/* PROYECTS FINISH */

/* TECNOLOGIES STARTED */
#tecnologias 
{
    padding: 5rem 4rem;
}

.tecnologias__title 
{
    font-size: 1.8rem;
    font-family: "Montserrat-extrabold";
    text-align: center;
    margin: 3rem 0 2rem 0;
    color: var(--color-titles);
}

.tecnologias__grid 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    gap: 2rem 1.5rem; 
    padding: 1rem 1rem; 
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.tecnologias__icon 
{
    width: 80px;
    height: 80px;
    object-fit: contain;
}
/* TECNOLOGIES FINISH */

/* CONTACT STARTED */
.contact 
{
    padding: 2rem 1rem;
    background-color: ghostwhite;
}

.contact__title 
{
    font-size: 1.8rem;
    font-family: "Montserrat-extrabold";
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-titles);
}

.contact__form-group 
{
    margin-bottom: 1.5rem;
}

.contact__label
{
    display: block;
    margin-bottom: 0.5rem;
    font-family: "Montserrat-bold";
    color: #555;
}

.contact__input:focus, .contact__textarea:focus 
{
    outline: none;
    border-color: var(--color-primary); 
}

.contact__input, .contact__textarea 
{
    width: 100%;
    padding: 1rem 2.5rem;
    /* padding: 0.5rem 3rem; */
    font-family: "Montserrat-regular";
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    line-height: 1.5;
}

.contact__button
{
    display: block;
    width: 100%;
    padding: 1rem;
    font-family: "Montserrat-extrabold";
    font-size: 1.1rem;
    color: white;
    background-color: var(--color-primary);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
}
/* CONTACT FINISHED */

/* FOOTER STARTED */
.footer
{
    background-color: var(--color-primary);
    padding: 1rem 1rem;
    text-align: center;
}

.footer__text 
{
    color: white;
    font-family: "Arco";
    font-size: 0.6rem;
    margin: 0;
}
/* FOOTER FINISH */


/* DESKTOP QUERY */
@media (min-width: 768px)
{
    /* HEADER QUERY START */
    .header__container
    {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 3rem;
    }

    .Header__logo
    {
        font-size: 2.2rem;
        text-align: left;
    }

    .header__nav
    {
        width: auto;
    }

    .header__menu
    {
        justify-content: flex-end;
        gap: 2.5rem;  /* 2 REM INIT */
    }

    .header__menu-link
    {
        font-size: 1.2rem; /* 1 REM INIT */
        transition: transform 0.3s ease, color 0.3s ease;
        color: var(--color-menu-links);
    }

    .header__menu-link:hover 
    {
        transform: scale(1.2);
        color: var(--color-primary);
    }
    /* HEADER QUERY END */


    /* INTRO QUERY START */
    .intro 
    {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 4rem;
        min-height: 90vh;
        padding: 8rem 6rem;
    }

    .intro__content
    {
        flex: 1;
        text-align: left;
    }

    .intro__image
    {
        display: block;
        flex: 1;
        position: relative;
    }

    .intro__image img
    {
        width: 100%;
        height: auto;
        transform: scale(1.2) translateX(10%);
    }

    .intro__title
    {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .intro__subtitle
    {
        font-size: 1.2rem;
        margin: 0 0 2.5rem 0;
        padding: 0;
        max-width: 100%;
        line-height: 1.7; 
    }

    .intro__button
    {
        width: auto;
        margin: 0 0 2.5rem 0;
        display: inline-block;
    }

    .intro__social
    {
        justify-content: flex-start;
    }

    .intro__icon
    {
        transition: transform 0.3s ease;
    }

    .intro__icon:hover 
    {
        transform: scale(1.2);
    }

    .intro__button
    {
        transition: background-color 0.3s ease;
    }

    .intro__button:hover
    {
        background-color: var(--color-hover);
    }
        /* INTRO QUERY END */


    /* PROYECTS QUERY START */

    .proyectos__title
    {
        font-size: 2.2rem;
        margin-bottom: 8rem;
    }

    .proyectos__grid
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }

    .proyectos__overlay
    {
        opacity: 0;
        background-color: var(--color-overlay);
        transition: opacity 0.3s ease-in-out;
    }

    .proyectos__item:hover .proyectos__overlay 
    {
        opacity: 1;
    }

    .proyectos__item img
    {
        border-radius: 6px;
        transition: transform 0.3s ease-in-out, border-radius 0.3s ease-in-out;
    }

    .proyectos__item:hover img 
    {
        transform: scale(1.05);
        border-radius: 0;
    }
    /* PROYECTA QUERY END */

    /* TECNOLOGIES  QUERY START */
    .tecnologias__title
    {
        font-size: 2.2rem;
        margin-bottom: 8rem;
    }

    .tecnologias__grid
    {
        flex-wrap: nowrap;
        justify-content: space-evenly;
        max-width: 1000px; 
    }

    .tecnologias__icon
    {
        height: 70px; 
        width: 70px;
        transition: transform 0.3s ease;
    }

    .tecnologias__icon:hover 
    {
        transform: scale(1.1);
    }
    /* TECNOLOGIES  QUERY END */

    /* FORM  QUERY START */
    .contact
    {
        /* min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; */
        padding: 4rem 1rem;
    }

    .contact__form
    {
        margin: 0 auto;
        width: 100%;
        max-width: 500px;
    }
    

    .contact__title
    {
        font-size: 2.2rem;
        margin-bottom: 5rem;
    }

    .contact__button
    {
        transition: background-color 0.3s ease;
    }

    .contact__button:hover 
    {
        background-color: var(--color-hover);
    }

    .contact__label
    {
        text-align: left;
    }
    /* FORM  QUERY END */

    /* FOOTER  QUERY START */
    .footer
    {
        padding: 0.5rem 1rem;
    }

    .footer__text
    {
        font-size: 1rem;
        margin: 0;
    }
    /* FOOTER  QUERY END */
}

/* ANIMATION UTILITIES */
.fade-in-element
{
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden
{
    opacity: 0;
    transform: translateY(30px);
}